.movieLogo {
    position: fixed;
    z-index: 2;
    text-align: center;
    width: 30%;
    @include mobile{
        width: 50%;
    }
    .movieLogo-title {
        @include roboto-medium;
        cursor: pointer;
        color: #FFF;
        font-size: 30px;
        margin-left: 7%;
        text-shadow: -2px -2px red;
        transition: 0.9s;
        @include mobile{
            font-size: 16px;
        }
    }
    .movieLogo-title:hover{
        color: red;
        text-shadow: -2px -2px white;
    }
}