@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@mixin roboto-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    
}
@mixin roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}

@mixin mobile {
    @media (min-width: 280px)and(max-width: 1000px) {
        @content;
    }

}